*{
  box-sizing: border-box
}
html{
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  
}
body{
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  height: 95%;
  display: flex;
  flex-direction: column;
  background: black;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
article{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
footer{
  display: flex;
  flex-direction: column;
}



#header-menu{
  margin: 20px;
}
header a{
  font-size: 18px;
  margin-left: 50px;
  text-align: center;
  text-decoration: none;
}
header a:link{
  color: white
}
header a:visited {
  color: white
}
header a:hover{
  border-bottom: 3px solid white;
}
#center-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.presentation-text{
  font-size: 16px;
}
.presentation-text-name{
  font-size: 68px;
  margin: 0px;
}

#social-media-container{
  background-color: transparent
}
.social-media-icon{
  background-color: transparent
}

footer a:link,a:visited, a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  border-bottom: 3px solid white;
}
ion-icon {
  font-size: 32px;
}


/* me styles*/

#me-main-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 15% 0px 15%;
}
#me-header-container{
  font-size: 44px;
  align-self: center;
}
#me-first-im-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 0.4;
  padding: 10px 0px 30px 0px;
}
#avatar{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-self: center
}
#me-bio{
  font-size: 16px;
  word-break: break-all;
}

#me-quote{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  font-size: 20px
}

#me-second-education-container{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  text-align: center;
  border-top: 2px dotted #a8a8a9;
  border-bottom: 2px dotted #a8a8a9;
  padding: 10px 0px 30px 0px
}
#college{
  font-size: 16px;
  color: #a8a8a9;
  white-space: nowrap
}
#college:hover{
  text-decoration: underline white
}
.me-title{
  font-size: 16px;
}
.me-info{
  font-size: 14px;
  color: #a8a8a9;
}

#me-third-skills-container{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-bottom: 60px;
}
#me-skills-container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
  margin: 20px 15% 20px 15%;
}
#me-skills-container ion-icon{
  font-size: 64px;
}
.me-skill-icon:hover{
  border-bottom: 1px solid white;
}

/* contact styles*/

#contact-container{
  text-align: center;
  margin: 0px 20% 0px 20%;
  justify-content: flex-start
  /*box-shadow: 0px 0px 56px -16px rgba(168,168,168,1);*/
}
#contact-header{
  font-size: 60px;
  font-weight: lighter;
  
}
.contact-title{
  font-size: 20px;
}
.contact-information{
  font-size: 14px;
  color: #a8a8a9
}
.contact-information-details{
  font-size: 14px; 
  color: #b6b6b6
}
#back-button-container{
  position: absolute;
  top:30px;
  left: 0px;
}
