*{
  box-sizing: border-box
}
html{
  height: 100%;
}
body{
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px
}
header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
article{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
footer{
  display: flex;
  flex-direction: column;
}

#main-cointaner{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 20px;
  background: linear-gradient(135deg, rgba(51,51,51,1) 0%, rgba(48,48,48,1) 36%, rgba(26,26,26,1) 72%, rgba(15,15,15,1) 100%);
}

#header-menu{
  margin: 20px;
}

header a{
  font-size: 26px;
  margin-left: 50px;
  text-align: center;
  text-decoration: none;
}

header a:link{
  color: white
}
header a:visited {
  color: white
}
header a:hover{
  border-bottom: 3px solid white;
}
#center-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.presentation-text{
  font-size: 24px;
}
.presentation-text-name{
  font-size: 80px;
  margin: 0px;
  font-weight: 500;
}

#social-media-container{
  background-color: transparent
}
.social-media-icon{
  background-color: transparent
}

footer a:link,a:visited, a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  border-bottom: 3px solid white;
}
ion-icon {
  font-size: 32px;
}


/* me styles*/

#me-main-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#me-header-container{
  font-size: 44px;
  align-self: center;
}
#me-first-im-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 0.4;
  padding: 10px 0px 30px 0px;
}
#avatar{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-self: center
}
#me-bio{
  font-size: 16px;
  word-break: break-all;
}
#me-quote{
  
}
#me-resume-link{
  font-size: 30px;
  color: rgb(0, 255, 225);
  justify-content: center
}
#me-resume-link:hover{
  text-decoration: underline;
}

#me-second-education-container{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  text-align: center;
  border-top: 2px dotted #a8a8a9;
  border-bottom: 2px dotted #a8a8a9;
  padding: 10px 0px 30px 0px
}
#college{
  font-size: 16px;
  color: #a8a8a9;
  white-space: nowrap
}
#college:hover{
  text-decoration: underline white
}
.me-title{
  font-size: 16px;
}
.me-info{
  font-size: 14px;
  color: #a8a8a9;
}

#me-third-skills-container{
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-bottom: 60px;
}
#me-skills-container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-evenly;
  margin: 20px 15% 20px 15%;
}
#me-skills-container ion-icon{
  font-size: 64px;
}
.me-skill-icon:hover{
  border-bottom: 1px solid white;
}

/* contact styles*/
#contact-main-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center
}
#contact-container{
  text-align: center;
  margin: 0px 25% 0px 25%;
  justify-content: flex-start;
  box-shadow: -5px 5px 15px 1px rgba(37, 33, 33, 1);
}
#contact-header{
  font-size: 60px;
  font-weight: lighter;
  
}
.contact-title{
  font-size: 28px;
  margin-bottom: 5px
}
.contact-information{
  font-size: 20px;
  color: #a8a8a9;
  margin-top: 0px
}
.contact-information-details{
  font-size: 20px; 
  color: #b6b6b6
}
#back-button-container{
  position: absolute;
  top:30px;
  left: 0px;
}
